<h1 class="text-center " style=" font-weight:bolder;color:white;">Welcome {{user}}!!</h1>
<a routerLink="/transaction">View transaction history</a>
<form (ngSubmit)="deposite()">
    <div class="container w-75  mt-3">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class=" text-white text-center mt-3" style="margin-left: -100px;">DEPOSITE</h2>
                <input class="form-control w-50 mt-3 ms-5" [(ngModel)]="acno" type="text" placeholder="AcountNumber" name="acno" id="acno">
                <input class="form-control w-50 mt-3 ms-5"  [(ngModel)]="psw" type="password" placeholder="Password" name="password" id="password">
                <input class="form-control w-50 mt-3 ms-5" [(ngModel)]="amnt" type="text" placeholder="Amount" name="amount" id="amount">
                <button type="submit"  class="btn btn-danger ms-5 mt-2"  style="color:white;font-weight:bold;font-size: medium;" >DEPOSITE</button>


            </div>
        </div>
    </div>
</form>


<form (ngSubmit)="withdraw()">
    <div class="container w-75 mt-3">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2 class=" text-white text-center mt-3" style="margin-left:-100px;">WITHDRAW</h2>
                <input class="form-control w-50 mt-3 ms-5" [(ngModel)]="acnoo" type="text" placeholder="AcountNumber" name="ac" id="ac">
                <input class="form-control w-50 mt-3 ms-5" [(ngModel)]="pswo" type="password" placeholder="Password" name="pass" id="pass">
                <input class="form-control w-50 mt-3 ms-5" [(ngModel)]="amnto" type="text" placeholder="Amount" name="amn" id="amn">
                <button type="submit"  class="btn btn-danger  ms-5 mt-2 " style=" color:white;font-weight:bold" >WITHDRAW</button>


            </div>
        </div>
    </div>
</form>