/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/pexels-rodnae-productions-4921253.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 900px;
}