<div class="text-primary">
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="container  w-50 mt-5">
              <h1 class="text-center mt-5 text-white">REGISTER FORM</h1>
              <form (ngSubmit)="register()">
  
                  <div class="row mb-3">
  
                    <div class="col-sm-10  ms-4 ">
                      <input type="text" name="uname" [(ngModel)]="uname"  class="form-control"  placeholder="UserName" >
                    
                    </div>
                  </div>
                  <div class="row mb-3">
  
                    <div class="col-sm-10  ms-4 ">
                      <input type="text" name="acno" [(ngModel)]="acno"  class="form-control"  placeholder="AccountNumber" >
                    
                    </div>
                  </div>
                  <div class="row mb-3 ">
                    <div class="col-sm-10 mt-3 ms-4">
                      <input   type="password" name="psw" class="form-control" [(ngModel)]="psw"  placeholder="Password"   >
                    </div>
                  </div>
  <div class="row mb-3">
  <div class="col-sm-10 ms-5  ">
      <button type="submit" (click)="register()" class="btn btn-dark text-center  mt-2 w-50" >Register</button>
  
  </div>  
  </div>   
  
                  </form>
          </div>
      </div>
  
  </div>